div{
  background-color: cyan;
}
h1{
  width:10%;
  margin: 0 auto 0 auto;
  align-content: center;
  font-family: inherit;
  font-size: 40px;

}
body{
  margin: 0;
  text-align: center;
  font-family: Apple Chancery, cursive ;
  font-size: 30px;
  color: black;
}

img{
  position: relative;
  left: 20px;
}

.bottom-cloud{
  position: absolute;
  left:270px;

}
.top-cloud{
  left:250px;
  top:30px;
}


.middle-container .profile img{
  border-radius: 100%;
}
.middle-container .skills .skill-row .first img{
  border-radius: 100%;
  width: 50%;
  height: 20%;
}

.middle-container .skills .skill-row .second img{
  border-radius: 100%;
  width: 30%;
  height: 20%;
}
.bottom-container{
  font-family:fantasy;
}
